<strong>Current Request List</strong>

<% unless session[:item_ids].nil? %>

	<% session[:item_ids].each do |item_id| %>
	
		<div class="list_item">
			<!-- <p> -->
				<%= link_to(image_tag("/images/icons/close.gif", :border => 0), remove_from_list_path(item_id)) %>&nbsp; 
				<%= link_to "#{Item.find(item_id).name}", item_path(item_id) %>
			<!-- </p> -->
		</div>

	<% end %>
	<p class="supertiny">&nbsp;</p>
	<p><%= button_to "Submit Request", new_request_path, :id => "add_button", :method => :get %></p>
	
<% end %>
