<% num_per_rows = 7 %>
<% rows = calculate_rows(items.size, num_per_rows) %>
<!-- <p><%# items.size %></p> -->
<table border="0" cellspacing="10" cellpadding="10">
	<% (0..rows).each do |r| %>
		<tr>
			<% (0..(num_per_rows-1)).each do |c| %>
				<% unless items[(r*num_per_rows)+c].nil? %>
					<td align="center" width="90" valign="top">
						<% if items[(r*num_per_rows)+c].photos.empty? || items[(r*num_per_rows)+c].photos.nil? %>
							<%= link_to(image_tag('missingimage.jgp'), item_path(items[(r*num_per_rows)+c])) %>
						<% else %>
							<%= link_to(image_tag(items[(r*num_per_rows)+c].photos.first.image_url(:thumb)), item_path(items[(r*num_per_rows)+c])) %> <br />
						<% end %>
						<%= link_to(items[(r*num_per_rows)+c].name, item_path(items[(r*num_per_rows)+c])) %>
						<!-- <p class="supertiny">&nbsp;</p> -->
					</td>
				<% end %>
			<% end %>
		</tr>
	<% end %>
</table>
