<table border="0" cellspacing="5" cellpadding="5">
	
	<tr>
		<!-- Welcome information -->
		<td width="440" valign="top">
			<%= render :partial => "welcome_information" %>
		</td>
		
		<!-- Spacer -->
		<td width="25">&nbsp;</td>
		
		<!-- Request account -->
		<td width="440" valign="top">
			<%= render :partial => "sign_in_or_register" %>
			<%# render :partial => "request_account" %>
		</td>
	</tr>
</table>