<h1>About the Inventory Management System</h1>

<div id="main_column">
	<p>This is the most amazing, marvelous, tremendous, glass-shattering, 
		earth-shaking system ever conceived by the mind of man.  Well, at 
		least we'd like to think that.  In any case, this little bit of 
		software is brought to you courtesy of <strong>Team 8th Wonder</strong>, from 
		Carnegie Mellon's Information Systems summer program.  Enjoy.</p>
</div>