<h1>Loan Policy</h1>

<div id="main_column">
	<p>The policy is simple: return any props or costumes you borrow 
	from us on time and in good condition or we will force you to 
	undergo daily screenings by the TSA until the situation is 
	rectified.</p>
</div>