<h1>New color</h1>

<%= render 'form' %>

<br/>
<%= image_tag "forms/items_actions.png" %><br/>
<%= link_to(image_tag("icons/back_arrow.png", :border => 0), colors_path(@colors))  %>&nbsp;<%= link_to "Back to Colors", colors_path(@colors) %>