<h1>Editing organization</h1>

<%= render 'form' %>

Back to <%= link_to "#{@organization.name} details", @organization %> <br />
Back to <%= link_to 'list of all organization', organizations_path %>
